.contacts-container {
  width: 228px;
  min-height: 768px;
  height: auto;

  .title {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    height: auto;

    h1 {
      margin: 20px 0 0 0;
    }
  }

  .contacts-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    
    li {

      p {
        // *********  background color if active
        min-height: 35px;
        padding-left: 20px;
        font-size: 18px;
        line-height: 35px;
        margin: 0;
        border: none;
        background-color: transparent;
      }
    }
    li:hover {
      background-color: #579aff;

      p {
        color: #ffffff;
      }
    }
  }
}
